<template>
  <q-page>
    <div class="container">
      <!--
        FORM LOGIN PLATFORM
      -->
      <div class="text-right q-mb-md q-px-md">
        <q-select
          dense
          filled
          v-model="lang"
          :options="langOptions"
          class="inline-block"
          options-selected-class="text-red"
          >
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
                class="text-center"
              >
                <q-img :src="`/4x3/` + scope.opt.icon + `.svg`" contain height="32px"> </q-img>
              </q-item>
            </template>
          </q-select>
      </div>
      <div class="row">
        <q-form @keyup="onEnter" @submit="e => e.preventDefault()" class="row q-col-gutter-md col-12 col-md-10 self-end q-pl-md" action="" method="post">
          <q-input filled :label="$t('Username')" disable v-model="username" class="col-12 col-md-6" />
          <q-input filled :label="$t('Password')" disable v-model="password" :type="isPwd ? 'password' : 'text'"  class="col-12 col-md-6">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <div class="col-12 col-md-9 self-center">
            <q-btn @click="executed()" disable @keyup.enter="onEnter" type="submit" push color="primary" class="full-width q-py-xs">{{$t('Load')}}</q-btn>
          </div>
          <q-select filled v-model="region" :options="[{label: $t('EU'), value:'EU'}, {label: $t('NA'), value:'NA'}, {label: $t('AP'), value:'AP'}, {label: $t('KO'), value:'KO'}]" options-dense transition-show="jump-up" transition-hide="jump-up" class="col-12 col-md-3 self-center" dense />
        </q-form>
        <div class="col-2 col-md-none q-pl-xl hide-responsive text-center">
            <q-img class="col  relative-position" height="130px" contain :src="`./` + tierRank + `.png`">
              <div class="text-h6 text-white absolute-center full-width text-subtitle1">{{this.tierList[tierRank]}}</div>
            </q-img>
        </div>
      </div>
      <!--
        \\ END // FORM LOGIN PLATFORM
      -->

      <!--
        PROGRESS BAR RANKUP
      -->
      <div class="q-mt-md row flex-center relative-position q-px-md">
        <q-img class="col hide-responsive-sm" :src="`./` + tierRank + `.png`"></q-img>
        <q-linear-progress rounded style="height: 30px" :value="progressRank" :class="`q-mt-sm q-mx-sm col-12 col-sm-10 faded faded-` + (tierRank + 1)">

        <q-badge color="red-6" text-color="white" class="q-pa-xs custom-badge float-right" :style="`left: ` + ((this.findCompetitive ? this.findCompetitive.TierProgressAfterUpdate : '0')+1) + `%`">{{progressRankPoints}}</q-badge>
        </q-linear-progress>
        <q-img class="col hide-responsive-sm" :src="`./` + (tierRank + 1) + `.png`"></q-img>
      </div>
      <!--
        \\ END // PROGRESS BAR RANKUP
      -->

      <!--
        RANKED HISTORY
      -->
      <div class="row q-col-gutter-sm q-mt-sm">
        <div style="margin: 10px auto"><q-pagination
        v-model="page"
        color="white"
        text-color="black"
        :min="currentPage"
        :max="Math.ceil(matches.length/totalPages)"
        :boundary-numbers="true"
        >
        </q-pagination></div>
        <div v-for="(match, index) in getData" :key="index" :class="(match.TierAfterUpdate > 0) ? `col-12` : `dnone`">
          <q-card :class="returnResult(match)" v-if="match.TierAfterUpdate > 0 && match.MapID && match.CompetitiveMovement != 'MOVEMENT_UNKNOWN'">
            <img
              :src="`/` + getMapId(match.MapID) + `.png`"
              basic
            >
              <div class="row full-width q-col-gutter-xs-y-lg q-col-gutter-x-md justify-between q-px-md">
                <!--
                  RANK BEFORE GAME
                -->
                <div class="col-12 col-md-1">
                  <img class=" q-pa-sm match-rank-img" :src="`./` + match.TierBeforeUpdate + `.png`" />
                </div>
                <!--
                  RANK MUTATION AFTER GAME
                -->
                <q-slider
                  class="q-mt-sm col-12 col-sm-7 col-md-8"
                  name="speed"
                  v-model="match.TierProgressAfterUpdate"
                  label-always
                  :label-value="match. TierProgressAfterUpdate + '%'"
                  :min="0"
                  :max="100"
                  readonly
                />
                <!--
                  BADGE SELECTION
                -->
                <div :class="rankBadgeClasses" v-if="match.TierProgressAfterUpdate > match.TierProgressBeforeUpdate && match.CompetitiveMovement !== 'DEMOTED' && match.CompetitiveMovement !== 'PROMOTED'">
                  <q-badge class="full-width block text-center q-py-sm text-h6"  color="positive">
                    <i class="fas fa-angle-up block full-width" style="font-size: 40px"></i>
                    <span class="block" style="margin-top: -10px; position: relative">+{{match.TierProgressAfterUpdate - match.TierProgressBeforeUpdate}}</span>
                  </q-badge>
                </div>
                <div :class="rankBadgeClasses" v-if="match.TierProgressAfterUpdate < match.TierProgressBeforeUpdate && match.CompetitiveMovement !== 'PROMOTED' && match.CompetitiveMovement !== 'DEMOTED'">
                  <q-badge class="full-width text-center block q-py-sm text-h6"  color="realprimary" >
                    <i class="fas fa-angle-down block full-width" style="font-size: 40px"></i>
                    <span class="block" style="margin-top: -10px; position: relative">{{match.TierProgressAfterUpdate - match.TierProgressBeforeUpdate}}</span>
                  </q-badge>
                </div>
                <div :class="rankBadgeClasses" v-if="match.CompetitiveMovement === 'PROMOTED'">
                  <q-badge class="full-width text-center q-py-sm"  color="positive">
                    <i class="far fa-arrow-alt-circle-up" style="font-size: 50px; margin: 0 auto"></i>
                  </q-badge>
                </div>
                <div :class="rankBadgeClasses" v-if="match.CompetitiveMovement === 'DEMOTED'" >
                  <q-badge class="full-width text-center q-py-sm" color="realprimary">
                    <i class="far fa-arrow-alt-circle-down" style="font-size: 50px; margin: 0 auto"></i>
                  </q-badge>
                </div>
                <div :class="rankBadgeClasses" v-if="match.TierProgressAfterUpdate === match.TierProgressBeforeUpdate && match.CompetitiveMovement !== 'PROMOTED' && match.CompetitiveMovement !== 'DEMOTED'">
                  <q-badge class="full-width text-center q-py-sm"  color="grey-6">
                    <span class="text-h6" style="font-size: 77px;position: relative;font-family: sans-serif;margin: 0 auto;">=</span>
                  </q-badge>
                </div>
                <div class="col-6 col-sm-2 col-md-1  self-center justify-end">
                  <q-badge color="light-blue-6" class="block text-center q-py-sm relative-position" style="border-right: 20px solid">
                    <span>{{ monthNames[new Date(match.MatchStartTime).getMonth()] }}</span><br>
                    <span class="text-h5 text-bold">{{new Date(match.MatchStartTime).getDate()}}</span><br>
                    <span class="">{{new Date(match.MatchStartTime).getHours()}}:{{(new Date(match.MatchStartTime).getMinutes()) > 10 ? new Date(match.MatchStartTime).getMinutes() : '0' + new Date(match.MatchStartTime).getMinutes()}}</span>
                    <span class="text-light-blue-6 text-bold" style="position: absolute; transform: rotateZ(-90deg) translateX(57%); right: -30px; font-size: 16px;">{{new Date(match.MatchStartTime).getFullYear()}}</span><br>
                  </q-badge>
                </div>
              </div>
          </q-card>
        </div>
        <div style="margin: 10px auto"><q-pagination
        v-model="page"
        color="white"
        text-color="black"
        :min="currentPage"
        :max="Math.ceil(matches.length/totalPages)"
        :boundary-numbers="true"
        >
        </q-pagination></div>
      </div>
      <!--
        \\ END // RANKED HISTORY
      -->
    </div>
  </q-page>
</template>

<script>
import axios from 'axios'
import { Notify, QSpinnerPuff, Quasar } from 'quasar'
import i18n from 'vue-i18n'
import Vue from 'vue'

Vue.use(i18n)

Notify.setDefaults({
  position: 'bottom',
  timeout: 3000,
  color: 'negative',
  type: 'negative',
  textColor: 'white',
  multiline: true
})

export default {
  name: 'Home',
  data () {
    return {
      username: '',
      password: '',
      region: {},
      isPwd: true,
      matches: [],
      monthNames: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      lockedexecute: false,
      cookiesAllowed: false,
      cookiesTime: '0s',
      actions: [],
      page: 1,
      currentPage: 1,
      nextPage: null,
      totalPages: 10,
      rankBadgeClasses: 'col-6 col-sm-2 col-md-1 text-center rank-badge self-center justify-center',
      tierList: [],
      lang: this.getLocale(),
      langOptions: [
        { value: 'en-us', label: 'English', icon: 'gb' },
        { value: 'it-it', label: 'Italiano', icon: 'it' },
        { value: 'es-es', label: 'Español', icon: 'es' },
        { value: 'de-de', label: 'Deutsch', icon: 'de' },
        { value: 'ar-ar', label: 'عربى', icon: 'ae' },
        { value: 'tr-tr', label: 'Türk', icon: 'tr' }
      ]
    }
  },

  // Setting up default values for ranks
  computed: {
    findCompetitive () {
      return this.matches.find(m => m.TierAfterUpdate > 0)
    },
    progressRank () {
      return this.findCompetitive ? this.findCompetitive.TierProgressAfterUpdate / 100 : 0
    },
    tierRank () {
      return this.findCompetitive ? this.findCompetitive.TierAfterUpdate : 2
    },
    progressRankPoints () {
      if (!this.findCompetitive) {
        return '0%'
      } else {
        return this.findCompetitive.TierProgressAfterUpdate + '%'
      }
    },
    getData () {
      this.matches.forEach(function (item, index, object) {
        if (item.TierAfterUpdate < 3 || !item.MapID || item.CompetitiveMovement === 'MOVEMENT_UNKNOWN') {
          object.splice(index, 1)
        } else {
          if (!item.MapID) { object.splice(index, 1) }
        }
      })
      return this.matches.slice((this.page - 1) * this.totalPages, (this.page - 1) * this.totalPages + this.totalPages)
    }
  },

  // Check for cookies
  created () {
    if (this.$q.cookies.has('tempUsername')) {
      this.username = this.$q.cookies.get('tempUsername')
      this.password = this.$q.cookies.get('tempPassword')
    }
  },

  // Set inital location
  beforeMount () {
    this.$i18n.locale = this.getLocale().value
  },

  // Watch language change
  watch: {
    lang (lang) {
      this.$i18n.locale = lang.value
      this.monthNames = [this.$t('Jan'), this.$t('Feb'), this.$t('Mar'), this.$t('Apr'), this.$t('May'), this.$t('Jun'), this.$t('Jul'), this.$t('Aug'), this.$t('Sep'), this.$t('Oct'), this.$t('Nov'), this.$t('Dec')]
      this.region = { label: this.$t('EU'), value: 'EU' }
      this.actions = [{ label: this.$t('Contact'), color: 'white', handler: () => { window.open('https://t.me/Lafa96', '_blank') } }]
      this.tierList = [
        this.$t('Unrunked'),
        this.$t('Unrunked'),
        this.$t('Unrunked'),
        this.$t('Iron') + ' I',
        this.$t('Iron') + ' II',
        this.$t('Iron') + ' III',
        this.$t('Bronze') + ' I',
        this.$t('Bronze') + ' II',
        this.$t('Bronze') + ' III',
        this.$t('Silver') + ' I',
        this.$t('Silver') + ' II',
        this.$t('Silver') + ' III',
        this.$t('Gold') + ' I',
        this.$t('Gold') + ' II',
        this.$t('Gold') + ' III',
        this.$t('Platinum') + ' I',
        this.$t('Platinum') + ' II',
        this.$t('Platinum') + ' III',
        this.$t('Diamond') + ' I',
        this.$t('Diamond') + ' II',
        this.$t('Diamond') + ' III',
        this.$t('Immortal') + ' I',
        this.$t('Immortal') + ' II',
        this.$t('Immortal') + ' III',
        this.$t('Radiant')
      ]

      if (this.$t('Warning')) {
        Notify.create({
          message: this.$t('Warning'),
          type: 'negative',
          position: 'top',
          timeout: '10000'
        })
      }
      if (this.$t('Info')) {
        Notify.create({
          progress: true,
          message: this.$t('Info'),
          type: 'info',
          color: 'indigo-14',
          position: 'top',
          timeout: '15000',
          actions: [{ label: 'Crowdin.com', color: 'white', handler: () => { window.open('https://crowdin.com/project/valorantrankpointscalculator', '_blank') } }],
          multiLine: true
        })
      }
    }
  },

  // Initialize translated variables & for info messages
  mounted () {
    this.monthNames = [this.$t('Jan'), this.$t('Feb'), this.$t('Mar'), this.$t('Apr'), this.$t('May'), this.$t('Jun'), this.$t('Jul'), this.$t('Aug'), this.$t('Sep'), this.$t('Oct'), this.$t('Nov'), this.$t('Dec')]
    this.region = { label: this.$t('EU'), value: 'EU' }
    this.actions = [{ label: this.$t('Contact'), color: 'white', handler: () => { window.open('https://t.me/Lafa96', '_blank') } }]
    this.tierList = [
      this.$t('Unrunked'),
      this.$t('Unrunked'),
      this.$t('Unrunked'),
      this.$t('Iron') + ' I',
      this.$t('Iron') + ' II',
      this.$t('Iron') + ' III',
      this.$t('Bronze') + ' I',
      this.$t('Bronze') + ' II',
      this.$t('Bronze') + ' III',
      this.$t('Silver') + ' I',
      this.$t('Silver') + ' II',
      this.$t('Silver') + ' III',
      this.$t('Gold') + ' I',
      this.$t('Gold') + ' II',
      this.$t('Gold') + ' III',
      this.$t('Platinum') + ' I',
      this.$t('Platinum') + ' II',
      this.$t('Platinum') + ' III',
      this.$t('Diamond') + ' I',
      this.$t('Diamond') + ' II',
      this.$t('Diamond') + ' III',
      this.$t('Immortal') + ' I',
      this.$t('Immortal') + ' II',
      this.$t('Immortal') + ' III',
      this.$t('Radiant')
    ]

    if (this.$t('Warning')) {
      Notify.create({
        message: this.$t('Warning'),
        type: 'negative',
        position: 'top',
        timeout: '10000'
      })
    }
    if (this.$t('Info')) {
      Notify.create({
        progress: true,
        message: this.$t('Info'),
        type: 'info',
        color: 'indigo-14',
        position: 'top',
        timeout: '15000',
        actions: [{ label: 'Crowdin.com', color: 'white', handler: () => { window.open('https://crowdin.com/project/valorantrankpointscalculator', '_blank') } }],
        multiLine: true
      })
    }
  },
  methods: {
    // Obtain the tag for the location
    getLocale () {
      if (Quasar.lang.getLocale()) {
        if (Quasar.lang.getLocale().substring(0, 2) === 'it') {
          return { value: 'it-it', label: 'Italiano', icon: 'it' }
        } else if (Quasar.lang.getLocale().substring(0, 2) === 'es') {
          return { value: 'es-es', label: 'Español', icon: 'es' }
        } else if (Quasar.lang.getLocale().substring(0, 2) === 'de') {
          return { value: 'de-de', label: 'Deutsch', icon: 'de' }
        } else if (Quasar.lang.getLocale().substring(0, 2) === 'ar') {
          return { value: 'ar-ar', label: 'عربى', icon: 'ae' }
        } else if (Quasar.lang.getLocale().substring(0, 2) === 'tr') {
          return { value: 'tr-tr', label: 'Türk', icon: 'tr' }
        } else {
          return { value: 'en-us', label: 'English', icon: 'gb' }
        }
      }
    },

    // Execute the form with enter
    onEnter: function (e) {
      if (e.keyCode === 13) {
        this.executed()
      }
    },

    // Get class for the matches
    returnResult (match) {
      if (match.CompetitiveMovement === 'MAJOR_INCREASE' || match.CompetitiveMovement === 'INCREASE' || match.CompetitiveMovement === 'MINOR_INCREASE' || match.CompetitiveMovement === 'PROMOTED') {
        return 'lastcompetitive win'
      } else if (match.TierProgressAfterUpdate === match.TierProgressBeforeUpdate && match.CompetitiveMovement !== 'PROMOTED' && match.CompetitiveMovement !== 'DEMOTED') {
        return 'lastcompetitive draw'
      } else {
        return 'lastcompetitive lose'
      }
    },

    // Get map name
    getMapId (mapId) {
      if (mapId) {
        return mapId.match('(/Game/Maps/)([^/]*)')[0].replace('/Game/Maps/', '')
      }
    },

    // Call Riot Apis
    async executed () {
      // Lock multiple requests
      if (!this.lockedexecute) {
        this.lockedexecute = true
        let bearerToken = ''
        let entitlementsToken = ''
        let userId = ''

        // Execute the loading
        this.$q.loading.show({
          spinner: QSpinnerPuff,
          spinnerColor: 'white',
          spinnerSize: 150,
          backgroundColor: 'black',
          message: this.$t('Searching'),
          messageColor: 'white'
        })
        try {
          // Get authentication Asid for login
          const response = await axios.get('https://backend.valorantpointscalculator.best/')
          const resolve = JSON.stringify(response).match('(asid=)([^;]*)')[0].replace('asid=', '')

          // Get client Baerer Token
          const response2 = await axios.post('https://cors-anywhere.valorantpointscalculator.best/https://backend.valorantpointscalculator.best/authenticate', { asid: resolve, username: this.username, password: this.password }, { 'Content-Type': 'application/json' })
          bearerToken = JSON.stringify(response2).match('(access_token=)([^&]*)')[0].replace('access_token=', '')

          // Ask to save password in Cookies
          this.savePasswordCookies()
        } catch (error) {
          // Login Exceptions
          Notify.create({
            message: this.$t('LoginError'),
            actions: this.actions
          })
          this.$q.loading.hide()
          setTimeout(() => {
            this.lockedexecute = false
          }, 5000)
          return
        }
        let config = {
          method: 'post',
          url: 'https://cors-anywhere.valorantpointscalculator.best/https://entitlements.auth.riotgames.com/api/token/v1',
          headers: {
            Authorization: 'Bearer ' + bearerToken,
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({})
        }
        //  Get Entitlements token through Baerer token
        try {
          const response3 = await axios(config)
          entitlementsToken = response3.data.entitlements_token
        } catch (error) {
          Notify.create({
            message: this.$t('AccountInformationError'),
            actions: this.actions
          })
          this.$q.loading.hide()
          setTimeout(() => {
            this.lockedexecute = false
          }, 5000)
          return
        }

        config = {
          method: 'post',
          url: 'https://cors-anywhere.valorantpointscalculator.best/https://auth.riotgames.com/userinfo',
          headers: {
            Authorization: 'Bearer ' + bearerToken
          }
        }
        //  Get Client id to get Competitive matches
        try {
          const response4 = await axios(config)
          userId = response4.data.sub

          let startIndex = 0
          let endIndex = 20
          this.matches = []

          config = {
            method: 'get',
            url: 'https://cors-anywhere.valorantpointscalculator.best/' + 'https://pd.' + this.region.value + '.a.pvp.net/mmr/v1/players/' + userId + '/competitiveupdates?startIndex=' + startIndex + '&endIndex=' + endIndex,
            headers: {
              Authorization: 'Bearer ' + bearerToken,
              'X-Riot-Entitlements-JWT': entitlementsToken
            }
          }
          //  Get Competitive matches with region, userid, baerer token and entitlements token
          let response5 = await axios(config)
          this.updateMatches(response5.data.Matches)

          // Get the other 20 competitives
          try {
            startIndex += 20
            endIndex += 20
            config.url = 'https://cors-anywhere.valorantpointscalculator.best/' + 'https://pd.' + this.region.value + '.a.pvp.net/mmr/v1/players/' + userId + '/competitiveupdates?startIndex=' + startIndex + '&endIndex=' + endIndex
            response5 = await axios(config)
            if (response5) {
              this.updateMatches(response5.data.Matches)
            }
          } catch (error) {
            this.$q.loading.hide()
            setTimeout(() => {
              this.lockedexecute = false
            }, 5000)
            return false
          }
        } catch (error) {
          Notify.create({
            message: this.$t('UnknownRankedError'),
            actions: this.actions
          })
          this.$q.loading.hide()
          setTimeout(() => {
            this.lockedexecute = false
          }, 5000)
          return false
        }
        this.$q.loading.hide()
        setTimeout(() => {
          this.$q.notify({
            progress: true,
            message: this.$t('SupportMessage'),
            color: 'indigo-14',
            type: 'unset',
            timeout: '30000',
            multiLine: true,
            position: 'bottom-right',
            avatar: '/ohlafa.png',
            actions: [
              { label: this.$t('SupportButton'), color: 'white', handler: () => { window.open('https://www.paypal.com/paypalme/LafaPL', '_blank') } }
            ]
          })
        }, 1000)
        if (!(this.matches.find(m => m.TierAfterUpdate > 3))) {
          this.$q.notify({
            message: '<span class="text-center">' + this.$t('NoRankedFound') + '<br>' + this.$t('MistakeMsg') + '</span>',
            html: true,
            actions: this.actions
          })
        }
        setTimeout(() => {
          this.lockedexecute = false
        }, 5000)
      } else {
        Notify.create({
          message: this.$t('TooManyRequests'),
          badgeClass: 'hidden'
        })
      }
    },
    savePasswordCookies () {
      if (this.$q.cookies.get('tempUsername') !== this.username && this.$q.cookies.get('tempPassword') !== this.password) {
        this.$q.notify({
          progress: true,
          message: '<span style="text-align: center; display: block">' + this.$t('SavePassword') + '<br>' + this.$t('SavedInfo') + '</span>',
          color: 'indigo-14',
          html: true,
          type: 'unset',
          timeout: '15000',
          multiLine: true,
          position: 'top-right',
          actions: [
            { label: this.$t('Yes'), color: 'white', handler: () => { this.cookiesAllowed = true; this.cookiesTime = '1d'; this.updateCookies() } },
            { label: this.$t('No'), color: 'white', handler: () => { this.cookiesAllowed = false; this.cookiesTime = '0s'; this.updateCookies() } },
            { label: this.$t('Yes30'), color: 'white', handler: () => { this.cookiesAllowed = true; this.cookiesTime = '30d'; this.updateCookies() } }
          ]
        })
      }
    },
    updateCookies () {
      // ### For more informations about this quasar cookies visit this site: https://quasar.dev/quasar-plugins/cookies
      if (this.cookiesAllowed) {
        this.$q.cookies.set('tempUsername', this.username, { expires: '1d', secure: true, sameSite: 'Strict', domain: 'valorantpointscalculator.best', path: '/' })
        this.$q.cookies.set('tempPassword', this.password, { expires: '1d', secure: true, sameSite: 'Strict', domain: 'valorantpointscalculator.best', path: '/' })
      } else {
        this.$q.cookies.set('tempUsername', '', { expires: '1s', secure: true, sameSite: 'Strict', domain: 'valorantpointscalculator.best', path: '/' })
        this.$q.cookies.set('tempPassword', '', { expires: '1s', secure: true, sameSite: 'Strict', domain: 'valorantpointscalculator.best', path: '/' })
      }
    },
    updateMatches (matches) {
      this.matches.push.apply(this.matches, matches)
    }
  }
}
</script>
