@font-face
    font-family: 'Valorant'
    src: url(/fonts/Valorant.ttf) format('truetype')

// app global css in Sass form
body
    font-family: 'Poppins', sans-serif
    font-weight: 300

.q-toolbar__title
    font-family: 'Valorant', Sans-serif
.q-slider__track-container--h
    height: 10px

.q-slider__thumb
    top: 3px
    transform: scale(1.3)

.q-slider__pin-text
    font-size: 16px

.q-linear-progress
    transform: skewX(-30deg)
    overflow: visible
    position: relative
    z-index: 99

.container
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.q-img__content > div
    padding: 0

.bg-realprimary
    background: $realprimary

.faded .q-linear-progress__model--determinate
    color: transparent!important
    background: $primary

// --------------------
//  APP CSS
// --------------------
::-webkit-scrollbar
    width: 3px

::-webkit-scrollbar-track
    background: transparent

::-webkit-scrollbar-thumb
    background: #f44336

::-webkit-scrollbar-thumb:hover
    background: #f44336

.container
    max-width: 1200px
    margin: 0 auto
    padding-top: 50px
    padding-bottom: 50px
    min-height: 100vh

.lastcompetitive
    max-height: 100px
    overflow: hidden
    position: relative
    pointer-events: none

.lastcompetitive::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.15
    z-index: 1

.lastcompetitive .q-slider
    transform: skewX(-30deg)
    left: -10px

.lastcompetitive  .q-slider__thumb
    display: none

.lastcompetitive .q-slider__pin-text-container--h
    margin-left: -16px

.lastcompetitive .q-slider .q-slider__pin--h, .lastcompetitive .q-slider .q-slider__arrow--h
    transform: scale(1) translateY(-25px) skewX(30deg)
    right: -8px

.lastcompetitive.win::after
    background: $positive

.lastcompetitive.win
    border-left: 5px solid $positive

.lastcompetitive.lose::after
    background: #dd1818

.lastcompetitive.lose
    border-left: 5px solid #dd1818

.lastcompetitive.draw::after
    background: #9e9e9e

.lastcompetitive.draw
    border-left: 5px solid #9e9e9e

.lastcompetitive.draw .q-slider
    color: #9e9e9e!important

.lastcompetitive.win .q-slider
    color: $positive !important

.lastcompetitive.lose .q-slider
    color: #dd1818!important

.rank-badge
    height: 72px

.lastcompetitive > div
    position: absolute
    z-index: 99
    top: 0

.dnone
    display: none

.lastcompetitive > img
    top: 50%
    transform: translateY(-50%)

a
    text-decoration: none
    color: #2a77d6

.custom-badge
    position: absolute
    font-size: 16px
    transform: skewX(30deg)
    font-weight: bold
    background: #db1919!important
    top: 5px

.custom-badge::after
    content: ''
    position: absolute
    border: 7px solid#db1919
    border-left: 7px solid transparent
    border-top: 7px solid transparent
    border-bottom: 7px solid transparent
    left: -13px

.match-rank-img
    max-height: 100px
    max-width: 100px
    margin: 0 auto
    display: block

@media screen and (max-width: 1024px)
    .hide-responsive
        display: none
    .lastcompetitive
        max-height: 180px
    .lastcompetitive > img
        transform: none

@media screen and (max-width: 600px)
    .hide-responsive-sm
        display: none
    .q-col-gutter-xs-y-lg > *, .q-col-gutter-xs-lg > *
        margin-top: 18px
        padding-right: 18px
    .lastcompetitive
        max-height: 250px
    .match-rank-img
        max-height: 60px
        padding-top: 0
        padding-bottom: 16px
