<template>
  <q-layout view="lHh lpr lFf" class="shadow-2 rounded-borders">
      <q-header elevated class="bg-primary">
        <q-toolbar class="q-px-lg">
          <q-avatar rounded>
            <img src="/valorant_logo.png" style="filter: invert(1)">
          </q-avatar>

          <q-toolbar-title>Valorant Rank Points Calculator</q-toolbar-title>

        <div class="text-right">
          <div class="inline-block">
            <q-toggle
            v-model="nightmode"
            @input="changeTheme()"
            checked-icon="fas fa-moon"
            color="red"
            size="50px"
            unchecked-icon="fas fa-sun"
            />
          </div>

        </div>
          <q-btn flat round type="a" target="_blank" href="https://gitlab.com/valorantpointscalculator" dense icon="fab fa-gitlab" />
        </q-toolbar>
      </q-header>

      <q-page-container>
        <router-view />
      </q-page-container>

      <div class="q-px-md text-center bg-grey-10 text-white q-py-md">
        {{$t('footer1')}} <a href="https://github.com/RumbleMike/ValorantAPI" target="_blank">RumbleMike</a> {{$t('footer2')}}<br>
        {{$t('footer3')}} <b>24 {{$t('hours')}}</b><br>
        {{$t('footer4')}}
      </div>
    </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',
  data () {
    return {
      nightmode: true
    }
  },
  methods: {
    changeTheme () {
      this.$q.dark.set(this.nightmode)
    }
  },
  created () {
    this.$q.dark.set(true)
  }
}
</script>
